/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
dist
dist-ssr
*.local
resources/views/auth/register.blade.php
resources/views/auth/verify.blade.php
resources/views/auth/passwords/confirm.blade.php
app/Http/Controllers/Auth/ConfirmPasswordController.php
app/Http/Controllers/Auth/RegisterController.php
app/Http/Controllers/Auth/VerificationController.php
